CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_SUPPORT_STATIC_ALLOCATION=y
CONFIG_ENABLE_STATIC_TASK_CLEAN_UP_HOOK=y
CONFIG_BT_ENABLED=n
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=1843200

# CONFIG_STACK_CHECK=y
# CONFIG_STACK_CHECK_ALL=y
# CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_WARN_WRITE_STRINGS=y
